/* stylelint-disable scss/at-rule-no-unknown, custom-property-empty-line-before */
@import "tailwindcss";
@import "@nuxt/ui";
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));
@custom-variant hover (&:hover);
